{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {% autoescape false %}
        Réinitialisation de votre mot de passe
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour {{ user.username }}

        Voici votre nouveau mot de passe : {{ newPassword }}, vous pouvez maintenant vous connecter à l'administration ici : {{ loginUrl }}

        Cordialement,
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <p>Bonjour {{ user.username }}<br>
        <br>
        Voici votre nouveau mot de passe : {{ newPassword }}, vous pouvez maintenant vous connecter à <a
                href="{{ loginUrl }}">l'administration</a><br>
        <br>
        Cordialement,
    </p>
{% endblock %}
