{% trans_default_domain 'FOSUserBundle' %}

<div class="login-content">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="lc-block toggled" id="l-login">

        <form action="{{ path("bk_wh_user_security_logincheck") }}" method="post" class="lcb-form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                           required="required" placeholder="Email"/>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" id="password" name="_password" required="required"
                           placeholder="Password"/>
                </div>
            </div>

            <button type="submit" id="_submit" name="_submit" class="btn btn-login btn-success btn-float">
                <i class="zmdi zmdi-arrow-forward"></i>
            </button>

        </form>

        <div class="lcb-navigation">
            <a href="{{ path('bk_wh_user_resetting_request') }}" data-ma-block="#l-forget-password">
                <i>?</i>
                <span>Forgot Password</span>
            </a>
        </div>

    </div>

</div>
